.wrapper {
  @apply grid relative shadow-md shadow-lightBlue hover:shadow-xl hover:shadow-lightBlue transition-shadow rounded-3xl overflow-hidden w-full bg-white;
  max-width: 300px;
  min-height: 350px;
}

.basicInfo {
  @apply bg-white max-w-full grid gap-1 items-center px-4 py-2 font-bold;
  min-width: 211px;
}

.arrowBox {
  @apply relative;
  height: 45px;
  width: 45px;
}
